USE [master]
GO
/****** Object:  Database [Livescreen]    Script Date: 10/13/2014 23:54:50 ******/
CREATE DATABASE [Livescreen] ON  PRIMARY 
( NAME = N'Livescreenz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Livescreen.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Livescreenz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Livescreen.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Livescreen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Livescreen]
GO
/****** Object:  Table [dbo].[superadmin_tbl]    Script Date: 10/13/2014 23:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[superadmin_tbl](
	[id] [int] NOT NULL,
	[username] [nchar](50) NULL,
	[password] [nchar](50) NULL,
	[email] [nchar](50) NULL,
 CONSTRAINT [PK_superadmin_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sms_tbl]    Script Date: 10/13/2014 23:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sms_tbl](
	[id] [int] NOT NULL,
	[sender] [nchar](10) NULL,
	[status] [nchar](10) NULL,
	[mode] [nvarchar](50) NULL,
 CONSTRAINT [PK_sms_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[screenz]    Script Date: 10/13/2014 23:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[screenz](
	[id] [int] NOT NULL,
	[userphn] [nvarchar](50) NULL,
	[userip] [nvarchar](50) NULL,
	[screenshot] [nvarchar](250) NULL,
 CONSTRAINT [PK_screenz] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_tbl]    Script Date: 10/13/2014 23:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_tbl](
	[username] [nvarchar](50) NOT NULL,
	[password] [nchar](10) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Login_tbl] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Login_tbl] ([username], [password], [status]) VALUES (N'9656761101', N'1         ', N'Online')
INSERT [dbo].[Login_tbl] ([username], [password], [status]) VALUES (N'9656761111', N'2         ', N'Online')
/****** Object:  Table [dbo].[Ip_tbl]    Script Date: 10/13/2014 23:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ip_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userPhno] [nvarchar](50) NULL,
	[userIp] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ip_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ip_tbl] ON
INSERT [dbo].[Ip_tbl] ([id], [userPhno], [userIp]) VALUES (1, N'9656761101', N'192.168.1.4')
SET IDENTITY_INSERT [dbo].[Ip_tbl] OFF
/****** Object:  Table [dbo].[FileShare]    Script Date: 10/13/2014 23:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileShare](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilePath] [nvarchar](150) NULL,
	[userPhone] [nvarchar](50) NULL,
	[Date] [date] NULL,
	[seen] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FileShare] ON
INSERT [dbo].[FileShare] ([Id], [FilePath], [userPhone], [Date], [seen]) VALUES (5, N'~/UpImages/DSCF0016.JPG', N'9656761101', CAST(0xFD380B00 AS Date), 0)
INSERT [dbo].[FileShare] ([Id], [FilePath], [userPhone], [Date], [seen]) VALUES (6, N'~/UpImages/DSCF0024.JPG', N'9656761101', CAST(0x1B390B00 AS Date), 0)
INSERT [dbo].[FileShare] ([Id], [FilePath], [userPhone], [Date], [seen]) VALUES (7, N'~/UpImages/DSCF0009.JPG', N'9656761101', CAST(0x1B390B00 AS Date), 0)
SET IDENTITY_INSERT [dbo].[FileShare] OFF
/****** Object:  Table [dbo].[chat_tbl]    Script Date: 10/13/2014 23:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_tbl](
	[id] [int] NOT NULL,
	[userphn] [nchar](50) NULL,
	[clientip] [nchar](50) NULL,
	[message] [nchar](50) NULL,
	[status] [nchar](50) NULL,
 CONSTRAINT [PK_chat_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_tbl]    Script Date: 10/13/2014 23:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_tbl](
	[taskId] [int] IDENTITY(1,1) NOT NULL,
	[action] [int] NULL,
	[status] [int] NULL,
	[phoneNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_Task_tbl] PRIMARY KEY CLUSTERED 
(
	[taskId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Task_tbl] ON
INSERT [dbo].[Task_tbl] ([taskId], [action], [status], [phoneNumber]) VALUES (1, 5, 1, N'9656761101')
INSERT [dbo].[Task_tbl] ([taskId], [action], [status], [phoneNumber]) VALUES (2, 7, 1, N'9656761101')
INSERT [dbo].[Task_tbl] ([taskId], [action], [status], [phoneNumber]) VALUES (3, 7, 1, N'9656761101')
SET IDENTITY_INSERT [dbo].[Task_tbl] OFF
/****** Object:  Table [dbo].[Livescreenz]    Script Date: 10/13/2014 23:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livescreenz](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[emailid] [nvarchar](50) NULL,
	[phonenumber] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Livescreenz_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Livescreenz] ON
INSERT [dbo].[Livescreenz] ([id], [name], [emailid], [phonenumber], [password]) VALUES (4, N'sumith', N'snairsumith@gmail.com', N'9656761101', N'1')
SET IDENTITY_INSERT [dbo].[Livescreenz] OFF
/****** Object:  Default [DF_Login_tbl_status]    Script Date: 10/13/2014 23:54:52 ******/
ALTER TABLE [dbo].[Login_tbl] ADD  CONSTRAINT [DF_Login_tbl_status]  DEFAULT (N'Ofline') FOR [status]
GO
/****** Object:  Default [DF_FileShare_seen]    Script Date: 10/13/2014 23:54:52 ******/
ALTER TABLE [dbo].[FileShare] ADD  CONSTRAINT [DF_FileShare_seen]  DEFAULT ((0)) FOR [seen]
GO
/****** Object:  ForeignKey [FK_Task_tbl_Login_tbl]    Script Date: 10/13/2014 23:54:52 ******/
ALTER TABLE [dbo].[Task_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Task_tbl_Login_tbl] FOREIGN KEY([phoneNumber])
REFERENCES [dbo].[Login_tbl] ([username])
GO
ALTER TABLE [dbo].[Task_tbl] CHECK CONSTRAINT [FK_Task_tbl_Login_tbl]
GO
/****** Object:  ForeignKey [FK_Livescreenz_Login_tbl]    Script Date: 10/13/2014 23:54:52 ******/
ALTER TABLE [dbo].[Livescreenz]  WITH CHECK ADD  CONSTRAINT [FK_Livescreenz_Login_tbl] FOREIGN KEY([phonenumber])
REFERENCES [dbo].[Login_tbl] ([username])
GO
ALTER TABLE [dbo].[Livescreenz] CHECK CONSTRAINT [FK_Livescreenz_Login_tbl]
GO
