<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="LivescreenConnectionString" connectionString="Data Source=.;Initial Catalog=Livescreen;Persist Security Info=True;User ID=sa;Password=sqladmin"
      providerName="System.Data.SqlClient" />-->
  <add name="LivescreenConnectionString" connectionString="Data Source=184.154.49.162;Initial Catalog=live;User Id=livedb;Password=X2ala#58;"  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>